<li class="nav-item mb-1">
    <img src="<%=data.src!=null?data.src:'http://localhost:3000/images/no-img.jpg'%>" class="float-left" height="100px" />
    <div class="d-block">
        <a><%=data.content!=null?data.content:'Khong co du lieu'%></a>
        <a><%=data.company!=null?data.company:'Khong co du lieu'%></a>
        <p>Mức lương: <a><%=data.salary!=null?data.salary:'0'%></a></p>
    </div>
</li>