<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-light">
    <!-- LOGO COMPANY -->
    <a class="navbar-brand">
        <img src="http://localhost:3000/images/logo-branch.png" alt="logo-project" class="card-img">
    </a>
    <ul class="navbar-nav nav">
        <li class="nav-item">Tất cả công việc</li>
        <li class="nav-item">Công ty</li>
        <li class="nav-item">Liên hệ</li>
    </ul>
</nav>

</body>
</html>

