<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
    <nav class="navbar navbar-light navbar-expand-lg bg-light">
        <!-- LOGO COMPANY -->
        <a class="navbar-brand">
            <img src="http://localhost:3000/images/logo.png" alt="logo-project" height="70px">
        </a>
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="#">Tất cả công việc</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Công ty</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Liên hệ</a>
            </li>
        </ul>
        <form class="navbar-nav">
            <label>
                <a class="nav-link" href="#">Đăng ký</a>
            </label>
            <label>
                <a class="nav-link" href="/login">Đăng nhập</a>
            </label>
        </form>
    </nav>

</body>
</html>

