<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.css"/>
</head>
<body>
    <nav class="container-fluid sticky-top bg-primary">
        <form class="row">
            <input type="search" class="col-6 ml-2" placeholder="Nhập công việc bạn mong muốn" />
            <select class="custom-select col-3 ml-2">
                <option selected>Menu</option>
            </select>
        </form>
    </nav>

</body>
</html>

